VITE_PREDICT_API_URL=http://155.248.254.195:6000
VITE_EXTRACT_API_URL=http://155.248.254.195:5000/extract
VITE_RECEIVE_API_URL=http://155.248.254.195:6000
VITE_FEEDBACK_API_URL=http://155.248.254.195:5000
VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=
